.portfolio-container{
    height: 550px;
    width:  80%;
    border: 1px solid white;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    background-color: #f7f7f7;
}

.portfolio-title{
    font-size: 30px;
    font-weight: bolder;
    color:rgb(43, 43, 128);
    text-align: center;
    margin-top: 10px;
}
.portfolio-underline{
    height: 8px;
    width: 190px;
    background-color: rgb(252, 167, 56);
    margin: auto;
    margin-left: 450px;
}

.flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    gap: 25px;
}
.imageClass{
    height: 200px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 2px 2px 5px grey;
}