.flex1{
    display: flex;
    /* margin-left: 10px; */
    margin-top: 70px;
    height: 700px;
    width: 100%;
    border: 1px solid white;
    background-color: rgb(4, 102, 105);

}
.home-content{
    margin-top:200px;
    font-size: 40px;
    font-weight: bolder;
    color:rgb(252, 167, 56);
    margin-left: 80px;
}
.second-paragragh{
    color: white;
    font-size: 30px;
    margin-left: 80px;
}
.getReady{
    color: white;
    font-size: 25px;
    margin-left: 80px;
}

.buttonClass1{
    background-color:turquoise;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color: white;
    margin-left: 80px;

}
.buttonClass2{
    background-color:rgb(252, 167, 56);
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color: white;
}

@media screen and (min-width:300px) and (max-width:500px) {
    .flex1{
        width: 187%;
    }
	.home-content{
        font-size: 35px;
        margin-left: 10px;
        margin-top: 100px;

    }
    .second-paragragh{
        font-size: 30px;
        margin-left: 10px;
    }
    .getReady{
        font-size: 20px;
        margin-left: 10px;
    }
    .buttonClass1{
        margin-left: 10px;
    }
    .flex1{
        height: 400px;
    }
}