.footerDiv{
    margin-top: 25px;
    height:60px;
    width: 100%;
    border: 1px  grey;
    background-color: #fbf3e4;
}
.style-footer{
    text-align: center;
    padding: 12px;
    font-size: 20px;
    color: grey;
}

@media screen and (min-width:300px) and (max-width:500px) {

    .footerDiv{
        height:60px;
        width: 187%;
        margin-top: 20px;
    }
    .style-footer{
        padding: 10px;
        font-size: 25px;
    }


}